
*.dat
*.txt
*.mat
*.zip
*.gz
*.pdf
*.docx
*.nc
scratch/meanflowdisplacementtrial.e53500
scratch/meanflowdisplacementtrial.o53500
Literature/library.bib
Literature/.DS_Store
*.png
*.pptx
*.png
*.png
*.png
*.png
*.mp4
