
*.dat
*.txt
*.mat
*.zip
*.gz
*.pdf
*.docx
scratch/meanflowdisp-3.py
scratch/meanflowdisp-3.py
*.nc
*.nc
scratch/meanflowdisp1.nc
scratch/meanflowdisp1.nc
scratch/meanflowdisplacementtrial.o53500
scratch/meanflowdisp1.nc
data/meanflowdisp.nc
*.nc
scratch/meanflowdisplacementtrial.e53500
